
    
    <main>
      <div class="header-container">
<h2>Available Devices</h2>
      <div class="search-bar">
        <input type="text" placeholder="Search devices..." [ngModel]="searchQuery()"
        (ngModelChange)="searchQuery.set($event)">

        <button (click)="searchQuery.set('')">Clear</button>
    </div>
      </div>
      
      @switch (state().status) {
        @case ('loading') {
          <p aria-live="polite">Loading devices...</p>
        }
        @case ('loaded') {
          @if (filteredDevices().length > 0) {
            <div class="table-container">
              <table>
                <thead>
                  <tr>
                    <th>Device Name</th>
                    <th>Type</th>
                    <th>Part Number</th>
                    <th>Building</th>
                    <th># Shelf Positions</th>
                    <th>Created At</th>
                    <th>Last Updated</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  @for (device of filteredDevices(); track device.deviceId) {
                    <tr>
                      <td>{{ device.deviceName }}</td>
                      <td>{{ device.deviceType | titlecase }}</td>
                      <td>{{ device.partNumber }}</td>
                      <td>{{ device.buildingName }}</td>
                      <td>{{ device.numberOfShelfPositions }}</td>
                      <td>{{ device.createdAt | date:'short' }}</td>
                      <td>{{ device.updatedAt | date:'short' }}</td>
                      <td>
          <button (click)="openDeviceCard(device)">View Summary</button>
          <button (click)="openEditDeviceForm(device)">Edit</button>
          <button (click)="deleteDevice(device.deviceId)">Delete</button>
                     </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          } @else {
            <p>No devices found. Create one to get started!</p>
          }
        }
        @case ('error') {
          <p role="alert" class="error-message">
            Failed to load devices. Please try again later. ({{ state().error }})
          </p>
        }
      }
    </main>