<header class="page-header">
      <h1>Shelf Management</h1>
      <div class="actions">
        <button class="button-primary" (click)="openCreateShelfForm()">Create Shelf</button>
      <button class="button-secondary" (click)="openHomePage()">Home Page</button>
      </div>
    </header>
    
    <main>
      <div class="header-container">
        <h2>Shelves in Our System</h2>
<div class="search-bar">
      <input type="text" placeholder="Search shelves..." [ngModel]="searchQuery()"
      (ngModelChange)="searchQuery.set($event)">

      <button (click)="searchQuery.set('')">Clear</button>
    </div>
      </div>
      
      @switch (state().status) {
        @case ('loading') {
          <p aria-live="polite">Loading shelves...</p>
        }
        @case ('loaded') {
          @if (filteredShelves().length > 0) {
            <table>
              <thead>
                <tr>
                  <th>Serial Number</th>
                  <th>Shelf Name</th>
                  <!-- //<th>Type</th> -->
                  <th>Part Name</th>
                  <th>Status:DeviceName SP Index</th>
                  <!-- <th>Shelf Position ID</th> -->
                   <th>Created At</th>
                   <th>Last Updated</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                @for (shelf of filteredShelves(); track shelf.shelfId) {
                  <tr>
                    <td>{{ filteredShelves().indexOf(shelf) + 1 }}</td>
                    <td>{{ shelf.shelfName }}</td>
                    
                    <td>{{ shelf.partName }}</td>
                    @if(shelf.status ==="Available") {
                      <td class="bg-green">{{ shelf.status}}</td>
                    } @else {
                      <td class="bg-red">{{ shelf.status }}</td>
                    }
                    <td>{{ shelf.createdAt }}</td>
                    <td>{{ shelf.updatedAt }}</td>
                    <!-- <td>{{shelf.shelfPositionId}}</td> -->
                    <td>
                      <button (click)="openEditShelfForm(shelf)">Edit</button>
                      <button (click)="deleteShelf(shelf.shelfId)">Delete</button>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          } @else {
            <p>No shelves found. Create one to get started!</p>
          }
        }
        @case ('error') {
          <p role="alert" class="error-message">
            Failed to load shelves. Please try again later. ({{ state().error }})
          </p>
        }
      }
    </main>